<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>

      {% load static %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>

<h1>Available Products</h1>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsam modi molestiae quaerat soluta? Corporis cumque dolorum exercitationem explicabo, odit porro quod? Ad aut commodi dignissimos ipsa modi obcaecati vero!</span><span>Dignissimos ducimus fuga illo quisquam voluptatem. Aliquam asperiores aspernatur atque blanditiis commodi consectetur consequuntur cupiditate dolorem dolores exercitationem facilis, nam nisi porro quis quos temporibus totam ullam vero voluptatem voluptates.</span><span>Aperiam aspernatur atque dignissimos, doloremque eaque excepturi fugiat laudantium magni modi, mollitia nisi officiis pariatur quaerat quia quibusdam reiciendis repellat suscipit veniam? Aliquam distinctio fugit ipsam totam. Quae, quasi rerum!</span></p>

<img src="{% static 'assets/car1.jpeg' %}" alt="">
<img src="{% static 'assets/car2.jpeg' %}" alt="">
<img src="{% static 'assets/car3.jpeg' %}" alt="">
<img src="{% static 'assets/car4.jpeg' %}" alt="">
<img src="{% static 'assets/car5.jpeg' %}" alt="">
<img src="{% static 'assets/car8.jpeg' %}" alt="">
<img src="{% static 'assets/grey benz.jpeg' %}" alt="">
<img src="{% static 'assets/black benz.jpeg' %}" alt="">
<img src="{% static 'assets/white taxi.jpeg' %}" alt="">

















</body>
</html>